@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: #0C0C0C;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}
.hero{
  /* background: url(../public/assets/images/home/hero.png) no-repeat center; */
  /* background-size: cover; */
}
.gredientHeading{
  background-color: #3A63F1;
  background-image: linear-gradient(to right, #3A63F1, #90D1F9);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #434346; */
  -webkit-text-fill-color: #f7f7f7;
  /* -webkit-box-shadow: 0 0 0px 1000px #1B1B1C inset; */
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Geist Variable";
  src: url("../public/fonts/GeistVF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neue Haas Display Bold";
  src: url("../public/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display Medium";
  src: url("../public/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}                                                                                 


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}